---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
		<style>
			.wrapper {
				margin-top: 2em;
				margin-bottom: 2em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>Page Not Found</h1>
			<h2>
				Looking for an article? Try <a
					id="blog-url"
					href="https://blog.andriishupta.dev"
					rel="noreferrer"
				>
					https://blog.andriishupta.dev
				</a>
			</h2>
		</div>
		<!-- <Footer /> -->
		<script is:inline>
			const urlElement = document.querySelector("#blog-url");
			const urlContent = `https://blog.andriishupta.dev${window.location.pathname}`;
			urlElement.setAttribute("href", urlContent);
			urlElement.innerHTML = urlContent;
		</script>
	</body>
</html>
